<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>LABORATORIOS</title>
	{% load static %}
	<link rel="stylesheet" href="{% static "style.css"%}">
</head>
<body>
	<h1> Laboratorios </h1>
	<table>
		<tr>
			<th>Código de Laboratorio</th>
			<th>Asignatura</th>
			<th>Grupo</th>
			<th>Codigo salon</th>
			<th>Estado</th>
		</tr>
		{% for labs  in laboratorios %}
		<tr>
			<td>{{ labs.cod_curso }}</td>
			<td>{{ labs.cod_asignatura }}</td>
			<td>{{ labs.grupo }}</td>
			<td>{{ labs.cod_salon }}</td>
			<td>{{ labs.status }}</td>
		</tr>
		{% endfor %}
	</table>
</body>
</html>
{% endblock %}